# GCP credentials - never commit
terraform/service-account.json
terraform/terraform.tfvars
keys/
.env

# Python
__pycache__/
*.pyc
.venv/
venv/
dbt-env/

# Bruin local
.bruin.yml

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl

# dbt
dbt/bursa_pulse/target/
dbt/bursa_pulse/logs/

# Orchestration logs
orchestration/pipeline.log
